<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Commandes Non Traitées')}">
</head>
<body>
<!-- Navbar -->
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<div th:replace="~{fragments/layout :: flash-messages}"></div>

<!-- Contenu principal -->
<div class="container mt-4">
    <h1>Commandes Non Traitées</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date de Commande</th>
            <th>Point de Vente</th>
            <th>Produits Commandés</th>
            <th>Coût Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(commandes)}">
            <td colspan="6" class="text-center">Aucune Commande non traite n'a ete trouvé pour le moment.</td>
        </tr>
        <tr th:each="commande : ${commandes}">
            <td th:text="${commande.id}"></td>
            <td th:text="${commande.dateCommande}"></td>
            <td th:text="${commande.pointDeVente}"></td>
            <td>
                <ul>
                    <li th:each="produit : ${commande.nomsProduits}">
                        <span th:text="${produit.value}"></span> (Quantity: <span th:text="${commande.produitsCommandes.get(produit.key)}"></span>)
                    </li>
                </ul>
            </td>
            <td th:text="${commande.coutTotal}"></td>
            <td>
                <a th:href="@{/commandes/view/{id}(id=${commande.id})}" class="btn btn-info btn-sm">Voir les détails</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between">
    <a href="/commandes" class="btn btn-secondary">
        <i class="fas fa-arrow-left me-2"></i>Retour
    </a>
</div>

<!-- Bootstrap JS (optionnel, pour les fonctionnalités interactives) -->
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>