<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Compte Bancaire')}">
</head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<div th:replace="~{fragments/layout :: flash-messages}"></div>

<div class="container mt-4">
    <h1>Compte Bancaire</h1>
    <div class="card">
        <div class="card-header">
            Solde du Compte
        </div>
        <div class="card-body">
            <p class="card-text">Solde actuel : <span th:text="${compteBancaire.solde} + ' €'"></span></p>
        </div>
    </div>
</div>
</body>
</html>