<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Résumé des Stocks')}">
</head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<div th:replace="~{fragments/layout :: flash-messages}"></div>

<div class="container mt-4">
    <h1 class="mb-4">Résumé des Stocks pour le <span th:text="${#temporals.format(date, 'dd/MM/yyyy')}"></span></h1>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Matière Première</th>
                        <th>Stock Disponible Hier</th>
                        <th>Sorties de la Journée</th>
                        <th>Stock Réel Disponible</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${stockSummaryMap}">
                        <td th:text="${entry.key.nom}"></td>
                        <td th:text="${entry.value.stockHier}"></td>
                        <td th:text="${entry.value.sortiesJournee}"></td>
                        <td th:text="${entry.value.stockReel}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/mouvements" class="btn btn-primary" > <i class="fas fa-left-long"></i> Retour </a>
    </div>
</div>
</body>
</html>